<h1>Table Example</h1>
<div eeh-drag-scroll>
    <table class="table table-bordered" disabled>
        <thead>
        <tr>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
        </tr>
        </tbody>
    </table>
</div>

