<div class="jumbotron text-center">
    <h1>eeh-drag-scroll</h1>

    <p class="lead">
        AngularJS directive for horizontal drag scrolling.
    </p>

    <p class="btn-group">
        <a class="btn btn-primary" href="https://github.com/ethanhann/eeh-drag-scroll">
            <i class="fa fa-code fa-fw"></i>Code
        </a>
        <a class="btn btn-primary" href="https://github.com/ethanhann/eeh-drag-scroll/zipball/master">
            <i class="fa fa-download fa-fw"></i>Download ZIP</a>
        <a class="btn btn-primary" href="https://github.com/ethanhann/eeh-drag-scroll/tarball/master">
            <i class="fa fa-download fa-fw"></i>Download TAR
        </a>
    </p>
</div>

<h1>Table Example</h1>
<div eeh-drag-scroll>
    <table class="table table-bordered" disabled>
        <thead>
        <tr>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
            <th>alpha</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
            <th>beta</th>
        </tr>
        </tbody>
    </table>
</div>

<div class="footer">
    <hr>
    <p>
        Created by <a href="https://github.com/ethanhann">Ethan Hann</a>
    </p>
</div>
